@font-face {
    font-family: "Montserrat";
    src: url("Fonts/montserrat-400-normal.woff") format("woff");
    font-weight: 400;
}

@font-face {
    font-family: "Montserrat";
    src: url("Fonts/montserrat-700-normal.woff") format("woff");
    font-weight: 700;
}

}
